<div class="card p-5 m-5 card-dark">
    <a href="#test">Click me</a>
</div>
<div class="card hover p-5 m-5 card-dark">
    Test
</div>
<div id="test" class="card p-5 m-5 card-dark">
    Якір
</div>

<div class="card p-5 m-5 card-dark">
    <a class="link" href="https://wwww.google.com/">Google</a>
</div>
<div class="card p-5 m-5 card-dark">
    <a class="link" href="https://www.youtube.com/">YouTube</a>
</div>
<div id="test" class="card p-5 m-5 card-dark">
    <input>
</div>
<div lang="en" class="card hover p-5 m-5 card-dark">
    Test
</div>
<div lang="fr" class="card hover p-5 m-5 card-dark">
    Test-fr
</div>
<div class="p-5 m-5 card-dark">
    <button>Test button</button>
    <button disabled>Test disabled button</button>
</div>
<div class="p-5 m-5 card-dark">
    <input class="inp"></input>
    <input readonly class="inp"></input>
</div>
<div class="p-5 m-5 card-dark">
    <div>
        <input type="checkbox" checked></input>
        <span>saddfahdfjgh</span>
    </div>
    <div>
        <input type="checkbox"></input>
        <span>saddfahdfjgh</span>
    </div>
</div>
<div class="p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid"></input>
    </div>
    <div>
        <input type="email" class="valid" placeholder="test"></input>
        <span>wfedsfgfjfgj</span>
    </div>
    <div class="mt-5">
        <input type="number" min="10" max="2000" required class="number"></input>
    </div>
</div>