<div class='p-5'>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  {{! тег style більш важливий ніж стилі прописані у файлі CSS}}
  <style>
    h1 {
      color: blue;
    }
  </style>
  <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  {{! атрибут style більш важливий ніж стилі прописані у файлі CSS та окремому тегу style}}
  <h1 style="color: green">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
  <p>dawersdtfygihujkjhgvcx</p>
  <h1 class="box">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

  <button type='button' class='btn btn-primary'>Купити</button>
  <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h2>
</div>
<section>
  <p>sdfgfhgjkhjk</p>
</section>
<section>
  <div class="card p-5">
    <ul>
      <li>sdfgfhgjkhjk</li>
      <li>sdfgfhgjkhjk</li>
      <li>sdfgfhgjkhjk</li>
      <li>sdfgfhgjkhjk</li>
    </ul>
    <ul>
      <li>sdfgfhgjkhjk</li>
    </ul>
  </div>
  <div class="card p-5">
    <b class="item">bold</b>
    <b class="item">bold</b>
    <p class="item p-0 m-0">paragraph</p>
    <p class="item p-0 m-0">paragraph</p>
    <article class="item p-0 m-0">article</article>
    <article class="item p-0 m-0">article</article>
    <article class="item p-0 m-0">article</article>
    <em class="item">em</em>
    <p class="item big p-0 m-0">paragraph</p>
    <p class="item p-0 m-0">paragraph</p>
    <p class="item p-0 m-0"></p>
    <p class="item p-0 m-0">paragraph</p>
    <p class="item p-0 m-0">paragraph</p>
    <p class="item p-0 m-0">paragraph</p>
    <p class="item p-0 m-0">paragraph</p>
  </div>
  <div class="card p-5 m-5 card-dark">
    <input class="input-dark my-2" required>
    <input class="input-dark my-2">
    <input class="input-dark my-2">
    <input class="input-dark my-2" type="number">
  </div>
  <div class="card p-5 m-5 card-dark">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />
    <button class="star btn">Click me!</button>
    <button class="btn btn-secondary star">Click me!</button>
    <button class="btn-secondary-star">Click me!</button>
    <button class="btn-starprimary">Click me!</button>
    <button class="btn btn-secondary heart">Click me!</button>
    <button class="btn-secondary-heart">Click me!</button>
    <button class="btn-heartprimary">Click me!</button>
  </div>
  <div class="card p-5 m-5 card-dark img">
    <img alt="image card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px" />
    <button class="btn">Click me!</button>
    <button class="btn btn-secondary">Click me!</button>
    <button class="btn-secondary">Click me!</button>
    <button class="btn-primary">Click me!</button>
    <a class="btn" href="https://picsum.photos/200/300">Click me! a</a>
    <a class="btn btn-secondary" href="https://picsum.photos/200/300">Click me! a</a>
    <a class="btn btn-primary" href="https://picsum.photos/200/300">Click me! a</a>
    <a class="small btn btn-primary" href="https://picsum.photos/200/300">Click me! a</a>

  </div>
  <div class="card p-5 m-5 card-dark">
    <p class="big-text">sfdfghfgjgkghkhkgh dghfjfj <br> sgsdfhjfgj arwrwasFz</p>

    <input class="input-black my-2" placeholder="type here" required>
    <input class="input-black my-2">
    <input class="input-black my-2" placeholder="type here">
    <input class="input-black my-2" type="number">
    <p class="big-text-b">sfdfghfgjgkghkhkgh dghfjfj <br> sgsdfhjfgj arwrwasFz</p>
  </div>
</section>