<main class="p-5">
	<div class="card p-5 start">
		<p>Hello world!</p>
		<p class="webkit">Hello world!</p>
		<p id="test">Hello world!</p>
		<p id="test2">Hello world!</p>
		<p id="test3">Hello world!</p>
	</div>
	<div class="card p-5 none">
		<p>Hello world!</p>
		<p class="webkit">Hello world!</p>
		<p id="test">Hello world!</p>
		<p id="test2">Hello world!</p>
		<p id="test3">Hello world!</p>
	</div>
	<div class="card p-5 orientation">
		<p>Hello world!</p>
		<p class="vertical">Hello world!</p>
		<p id="test">Hello world!</p>
		<p id="test2">Hello world!</p>
		<p id="test3">Hello world!</p>
		<p id="test4">Hello world!</p>
		<p id="test5">Hello world!</p>
		<p id="test6">Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello
			world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world! Hello world!Hello
			world! Hello world! Hello world! Hello world! Hello world!Hello world! Hello world! Hello world! Hello
			world! Hello world!</p>
		<pre>			dawersdtfygihujkjhgvcx	dfsdf</pre>
		<pre class="pre2">			dawersdtfygihujkjhgvcx	dfsdf</pre>
	</div>
</main>